<div class="modal-body">
<img src="../../../assets/images/talibe.jpg" class="img-responsive">
</div>
<div class="modal-footer ">
	<div class="row policeText">
		<section class="dialogTitle   col-xs-12 col-sm-8 col-sm-offset-2">
			<strong>BAMBA MERCI !</strong> <br><br><br>
		</section>
		<section class="dialogTexte  col-xs-12 col-sm-8 col-sm-offset-2">
			Le Maître authentique instaura, après avoir reçu l’Elu à l’état de veille, la voie de l’ascension fulgurante vers le Seigneur des mondes, par le rattachement initiatique et l’œuvre concrète. Les hommes accoururent de partout pour lui faire allégeance, ce qui déclencha l’ire de l’envieux qui installa dans le cœur du pouvoir temporel, la peur de se voir supplanter par l’Autorité spirituelle.  <br><br>
			Un complot fut ourdi contre lui ; il fut convoqué puis incarcéré, avec la ferme intention d’une liquidation physique. Il fut jeté dans une cellule où était enfermé un lion affamé exprès et dressé dans le but de s’occuper de la besogne espiègle. Mais le lion fut dompté par son aura et se soumit à lui, tel un animal domestique devant son maître d’antan. <br><br>
			Les oppresseurs furent surpris du premier échec subi ; nonobstant, ils décidèrent de patienter, espérant qu’un jour ou l’autre la nature sauvage du félin resurgirait sous l’effet continu de la faim entretenue. Ils préposèrent ainsi un garde devant la cellule pour surveiller l’évolution de l’opération. <br><br>
			Le maître authentique passa plusieurs jours dans la cellule en compagnie du fauve soumis, imperturbable dans ses activités magnifiant la gloire étincelante de l’Eternel, jusqu’au mois béni du ramadan. Un soir correspondant au jour de Pâques, les geôliers organisèrent un banquet pour se réjouir et nourrir leur corps. A l’heure de la rupture du jeûne, le Maître reçut l’ordre du Divin de se diriger vers l’extérieur pour rompre son jeûne, parce que mettre fin au jeûne à l’heure prescrite demeure une grâce à pérenniser. Il se leva donc et se dirigea vers la porte de la cellule qui s’ouvrit instantanément dès qu’il s’en approcha. Le lion affamé se précipita et s’élança vers le garde préposé devant la cellule qui fut tétanisé par l’attaque subite de l’animal. Alors, le Maître, vivace miséricordieux, interpella l’animal qui lui obéit, en lui intimant l’ordre de stopper son attaque.<br><br>
			A la vue du Maître accompagné du lion, les geôliers détalèrent, laissant derrière eux leur banquet et leurs armes. Le garde préposé devant la porte de la cellule tétanisé, sauvé d’une mort certaine par la bienveillance du Maître, prit néanmoins le temps de se retourner et de lui lancer, l’apostrophant par son prénom : « MERCI Bamba ! »<br><br>
			Le Maître se dirigea jusqu’au banquet rempli de mets de toute sorte, contempla le butin laissé par les oppresseurs et choisit d’y prendre du thé, du café et du sucre, qui devinrent ainsi un butin sacré pour sa communauté bienheureuse. Ensuite, il s’en retourna avec le lion pacifié dans sa cellule, intriguant plus que jamais ceux qui l’avaient pris pour cible.
		</section>
	</div>
	<div class="row policeText">
		<section class="adresse col-xs-10 col-sm-offset-2">
			<div class="pull-left">  <br>
			Pape Magatte Mbao <br>
			28 sagesses de l’Arbre | 2015 <br> 
			</div>
		</section>
	</div>
	<br>
	<div class="row">
		<hr class="firtHr">
	</div>
	<div class="row rowLinker" ng-init="isAapprouve=false">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<a href="" class="pull-left approuve" style="display: inline-block;">
				<div ng-hide="isAapprouve" ng-click="isAapprouve=!isAapprouve">
					<img src="../../../assets/images/toApprouved.jpg"  class="img-circle">
				</div>
			</a>
			<a href="" class="pull-left approuve">
				<div ng-show="isAapprouve" ng-click="isAapprouve=!isAapprouve">
					<img src="../../../assets/images/isApprouved.jpg"  class="img-circle">
				</div>
			</a>
			<a href=""  class="pull-left">
				<div class="applaudissement">
					<img src="../../../assets/images/facebook.png"  class="img-circle">
				</div>
			</a>
			<a href="" class="pull-right">
				<div class="twitter">
					<img src="../../../assets/images/twitter.jpg"  class="img-circle">
				</div>
			</a>
			<a href="" class=" pull-right">
				<div class="googlePlus">
					<img src="../../../assets/images/googlePlus.jpg"  class="img-circle">
				</div>
			</a>
			<a href="" class="pull-right">
				<div class="facebook">
					<img src="../../../assets/images/facebook.png"  class="img-circle">
				</div>
			</a>
		</div>	
	</div>
	<div class="row">
		<hr class="secondHr">
	</div>
	<div class="row rowComments policeTextComment">
		<div class="row rowCommentsList col-xs-12 col-sm-8 col-sm-offset-2">
			<span class="nameCommenter">Modndiaye, <i>28 dec 2015 &nbsp</i></span>
			<span class="Comment"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
		</div>
		<hr class="firtHr">
		<div class="row rowCommentsList col-xs-12 col-sm-8 col-sm-offset-2">
			<span class="nameCommenter">Kader, <i>28 dec 2015 &nbsp</i></span>
			<span class="Comment">Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
		</div>
			<div class="row rowCommentInput col-xs-12 col-sm-8 col-sm-offset-2">

			 <form name ="createCommentForm">
	  			<div class="form-group" >
	  			<label for="description"></label><br/>
	     		<textarea cols="190" rows="2" ng-model="comment.content" required placeholder="Discutons..."></textarea>
	    		</div>
	    		<button class="btn btn-primary pull-left" ng-click="addComment()">Commenter</button>
	    		<br/>
	 	 	</form>
		</div>

	</div>
</div>



