<div snap-drawer class="sideBarManager" ng-if="rightToDo">
	<div class="" ng-include="'app/manager/body/sidebar.html'"></div>
</div snap-drawer>

<div id="content" snap-content snap-options="snapOpts" class="scrollable">
            <button snap-toggle="left" class="btn btn-success navbar-btn pull-left"
							ng-if="rightToDo" style="margin-right:15px;">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
		<div class="divTitreGestion">
			<h2 class="page-header titreGestion">Interface de gestion des <strong><i>{{confVariable.titreGestion}}</i></strong> du site	 </h2>
		</div>

		<div ui-view></div>

</div snap-content>
