<div class="sign layout-row layout-align-center-center" ng-if="showValidation">
    <div class="signHeader">
        <h3>Votre inscription a bien été pris en compte et sera validée par nos équipes dans les plus brefs délais. Merci et à très bientôt</h3>
    </div>
</div>

<div class="sign  layout-column layout-align-center-center" ng-if="!showValidation">

    <div class="signHeader layout-row layout-align-center-center">
        <h3>Saisissez vos informations dans ce formulaire afin de vous inscrire.</h3>
    </div>


    <div  class="signForm xlayout-row xlayout-align-center-center">
        <form name="registrationForm"  class="form-group" novalidate>

            <my-info info='info'></my-info>

            <div class="form-group"  ng-class="{ 'has-error': registrationForm.lastname.$invalid && registrationForm.lastname.$dirty }">
                <label for="lastname">Votre Nom</label>
                <input type="text"
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    ng-model="newUser.lastname"
                    placeholder=" votre nom"
                    required minlength="3">
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.firstname.$invalid && registrationForm.firstname.$dirty }">
                <label for="firstname">Prenom</label>
                <input type="text"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    placeholder="Saisissez Votre Prenom"
                    ng-model="newUser.firstname"
                    required minlength="2">
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.login.$invalid && registrationForm.login.$dirty }">
                <label for="login">Pseudo</label>
                <input type="text" class="form-control"
                    id="login"
                    name="login"
                    placeholder="Saisissez Votre Pseudo"
                    ng-model="newUser.login"
                    required minlength="5">
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.email.$invalid && registrationForm.email.$dirty }">
                <label for="email">Email</label>
                <input type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Saisissez Votre Email"
                    ng-model="newUser.email"
                    required>

                <p class="help-block input-group-addon" ng-if="registrationForm.email.$error.email">Adresse mail invalid</p>
                <p class="input-group-addon" ng-show="emailAlreadyUsed">Email déjà utilisé</p>
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.passwordConfirmation.$invalid && registrationForm.password.$dirty }">
                <label for="password">Mot de passe</label>
                <input type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Saisissez Votre Mot de passe"
                    ng-model="newUser.password"
                    minlength="5"
                    required>
            </div>

            <div class="form-group" ng-class="{ 'has-error': registrationForm.passwordConfirmation.$invalid}">
                <label for="passwordConfirmation">Confirmation</label>
                <input type="password"
                    class="form-control"
                    id="passwordConfirmation"
                    name="passwordConfirmation"
                    placeholder="Saisissez Confirmer Mot de Passe"
                    ng-model="newUser.passwordConfirmation"
                    password-validate="newUser.password"
                    minlength="5"
                    required>
            </div>

			      <button type="submit" class="btn btn-success" ng-disabled="!registrationForm.$valid" ng-click="saveNewUser(newUser)">S'incrire</button>
            <button type="reset" class="btn btn-link" ng-click="resetRegistrationForm()">Vider les champs</button>

        </form>
    </div>

</div>
