<h2 class="page-header">Liste des commentaires</h2>
<div class="allPoem row">
	<div class="row">
		<div class="buttonRecherche pull-left">
			<button class="btn btn-danger lg" ng-click="commentShearch = true">Signalés</button>
			<button class="btn btn-success lg" ng-click="commentShearch = false">Non signalés</button>
			<button class="btn btn-info lg"  ng-click="commentShearch = ''">Tous</button>
		</div>

		<form class="form pull-right" role="form">
			<div class="form-group">
				<label for="page_search">Chercher parmis les commentaires du site: </label>
				<input id="page_search" type="text" class="form-control" ng-model="commentShearch" placeholder="Votre recherche">
			</div>
		</form>

	</div>

	<table class="table table-hover table-striped">
		<thead>
			<tr>

				<th>
					<span class="glyphicon glyphicon-tower "></span>
					<span class="">A propos du poeme</span>
				</th>

				<th>
					<span class="glyphicon glyphicon-user"></span>
					<span class="">Auteur</span>
				</th>

				<th>
					<span class="glyphicon glyphicon-calendar"></span>
					<span class="">Date de rédaction</span>
				</th>

				<th>
					<span class="glyphicon glyphicon-warning-sign"></span>
					<span class="">signalé</span>
				</th>

				<th>
					<span class=" glyphicon glyphicon-cog "></span>
					<span class="">Actions</span>
				</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="comment in commentList  | filter:commentShearch track by $index">

				<td> <a  ui-sref="dashboard.showComment({id : comment._id})">{{comment.id_poeme.title}}</a> </td>

				<td>{{comment.id_author.local.lastname}}  &nbsp; {{comment.id_author.local.firstname}}</td>

				<td> {{comment.date | date :'fullDate'}} </td>

				<td>
					<span ng-if="comment.denounced"  class="glyphicon glyphicon-remove " aria-hidden="true"></span>
					<span ng-if="!comment.denounced"  class="glyphicon glyphicon-ok " aria-hidden="true"></span>
				</td>
				<td>
					<a  ui-sref="dashboard.showComment({id : comment._id})" class="btn btn-info btn-sm pull-left"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</a>
					<button class="btn btn-danger btn-sm pull-right" ng-click="deleteComment($index)">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</td>


			</tr>
		</tbody>
	</table>

</div>
