	<div class="row rowContenu">
		<div class="row layout-column layout-align-space-between-stretch rubric_panel">

			<my-info info='info'></my-info>

			<div class="row layout-row layout-align-center-start recem_pub_container">
				<div class="col-sm-12 recem_pub_panel layout-row layout-align-center-center">
					<div class="col-sm-3  current-pub">
						<div class="text-center">
							<div>RÉCEMMENT</div>
							<div>PUBLIÉS</div>
						</div>
					</div>
					<div class="my_carousel col-sm-9">
                    <ul ng-if="slides.length" rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                        <li ng-repeat="slide in slides track by slide._id">
                            <div ng-style="{'background-image': 'url(' + slide.img + ')'}"
															ng-click="viewPoem('lg', slide._id)"
															class="bgimage layout-row layout-align-center-end-one">
                              <span class="carousel-poem carousel-poem-title">{{slide.title}}</span>
                            </div>
                        </li>
                    </ul>
										<div class="infoCarousel layout-column layout-align-center-center" ng-if="!slides.length" >
												<span>
													Pas de nouveau poème.....
												</span>
										</div>
            </div>
					</div>
			</div>

			<div class="row layout-row layout-align-space-between-center">

					<div class="carreTheme  layout-row layout-align-center-center themeOne" ng-click="rubrique(1)"  ng-mouseenter="runAnim(1)" ng-mouseleave="stopAnim(1)">
						<div class="text-center">
							<div>Dieureudieuf</div>
							<div>SERIGNE</div>
							<div>BETHIO</div>
						</div>
						<div class="{{anim[1] ? 'rub_1_img_container' : 'notDisplay'}}">
							<img class="rub_1_img" src="../../../assets/images/cheikhAdiaSaliou.jpg" alt="cheikhAdiaSaliou"/>
						</div>
					</div>

					<div class="carreTheme layout-row layout-align-center-center themeTwo"  ng-click="rubrique(2)"  ng-mouseenter="runAnim(2)" ng-mouseleave="stopAnim(2)">
						<div>
							<div>L'esprit</div>
							<div class="col-sm-offset-1">universel</div>
						</div>
						<div class="{{anim[2] ? 'rub_1_img_container' : 'notDisplay'}}">
							<img class="rub_1_img" src="../../../assets/images/cheikhAdiaSaliou.jpg" alt="cheikhAdiaSaliou"/>
						</div>
					</div>
			</div>

			<div class="row layout-row layout-align-space-between-center">
					<div class="carreTheme themeThre layout-row layout-align-center-center text-center"  ng-click="rubrique(3)"  ng-mouseenter="runAnim(3)" ng-mouseleave="stopAnim(3)">
						<div>
							<div>Histoires sacrées</div>
						</div>
						<div class="{{anim[3] ? 'rub_1_img_container' : 'notDisplay'}}">
							<img class="rub_1_img" src="../../../assets/images/cheikhAdiaSaliou.jpg" alt="cheikhAdiaSaliou"/>
						</div>
					</div>

					<div class="carreTheme layout-row layout-align-center-center themeFour"  ng-click="rubrique(4)" ng-mouseenter="runAnim(4)" ng-mouseleave="stopAnim(4)">
						<div class="text-center">
							<div>GATT</div>
							<div>SAFF!</div>
						</div>
						<div class="{{anim[4] ? 'rub_1_img_container' : 'notDisplay'}}">
							<img class="rub_1_img" src="../../../assets/images/cheikhAdiaSaliou.jpg" alt="cheikhAdiaSaliou"/>
						</div>
					</div>
			</div>

			<div class="row layout-row layout-align-space-between-center">
				<div class="carreTheme themeFive layout-row layout-align-center-center"  ng-click="rubrique(5)" ng-mouseenter="runAnim(5)" ng-mouseleave="stopAnim(5)">
					<div>
						<div>Les plus appréciés</div>
					</div>
					<div class="{{anim[5] ? 'rub_1_img_container' : 'notDisplay'}}">
						<img class="rub_1_img" src="../../../assets/images/cheikhAdiaSaliou.jpg" alt="cheikhAdiaSaliou"/>
					</div>
				</div>

				<div class="carreTheme themeSix layout-row layout-align-center-center "  ng-click="rubrique(6)" ng-mouseenter="runAnim(6)" ng-mouseleave="stopAnim(6)">
					<div class="text-center">
						<div>L'originalité</div>
						<div>spirituelle</div>
					</div>
					<div class="{{anim[6] ? 'rub_1_img_container' : 'notDisplay'}}">
						<img class="rub_1_img" src="../../../assets/images/cheikhAdiaSaliou.jpg" alt="cheikhAdiaSaliou"/>
					</div>
				</div>
			</div>
		</div>

	</div>
