<div class="row contentRubrique">

	<div class="row listPoeme">


			<div class="searchPoemAll layout-column layout-align-center-center">
				<div class="form-group" style="width:300px">
						<input type="text"
								class="form-control"
								name="searchPoem"
								ng-model="searchPoem"
								placeholder="Recherche">
				</div>

			</div>

			<my-info info='info'></my-info>
			
			<div class="poemListPanel layout-row layout-align-space-around-center">
				<div class="poemePanelContainer xcol-sm-4"  ng-repeat="poeme in poemlist | filter:searchPoem track by $index">
					<div class="poemePanel panel panel-primary">
					    <div class="poemePanelHeading panel-heading">
					      <div class="col-sm-9 author">{{poeme.id_auteur.local.firstname}}  &nbsp;  {{poeme.id_auteur.local.lastname}}</div>
					      <div class="col-sm-3 date">{{poeme.date | date:'dd MMM yyyy'}}</div>
					    </div>
					    <div class="poemePanelBody panel-body">
							<section class="title" >
								{{poeme.title}}
							</section>
							<div class="divider"></div>
							<div class="poemePanelText" ng-bind-html="poeme.content">
							</div>
					    </div>
					    <div class="panel-footer">
					      <div class="pull-left">
					         <span class="glyphicon glyphicon-floppy-disk"  uib-tooltip="Ajouter à la liste de lecture"></span>
					       </div>
					       <div class="pull-right"  ng-click="viewPoem('lg', poeme._id)">
					         <span>lire la suite</span>
					       </div>
					    </div>
					  </div>
				</div>
			</div>

		</div>

</div>
