/*
test de temporaires
*/
/*
div{
 border-width:1px;
 border-style:solid;
 border-color:black;
}*/

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.rowContenu{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  clear: both;
}

.navbar-fixed-top {
  border: 0;
}


.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#carreTheme{
    background-color: #fff;
    height: 15vw;
    min-height: 60px;
    padding: 2vw;
}

#carreThemeL{
    height: 15vw;
    min-height: 60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 3vw;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.themeOne{
    font-size: 3vw;
    width: 49%;
    /*
    margin-right: 4px;*/
}
.themeOneImg{
    font-size: 1.5vw;
    width: 49%;
}

.textThemeOneImg{
    font-size: 2vw;
    height: 15vw;
    display: inline-block;

}

#carreThemeImg{
    background-color: #fff;
    min-height: 60px;
}

.themeTwo{
    font-size: 3vw;
    width: 49%;
}
.themeThre{
    font-size: 3vw;
    width: 59%;
}
.themeFour{
    font-size: 3vw;
    width: 39%;
}
.themeFive{
    font-size: 3vw;
    width: 39%;
}
.themeSix{
    font-size: 3vw;
    width: 59%;
}



@media(min-width:776px) and (max-width:1199px){
  .rowContenu{
   /*// margin-top: 8vw;*/
  }
  .imgThemeOne{
    margin-top: 20px;
  }
  .textThemeOneImg {
    font-size: 2vw;
    height: 15vw;
    display: inline-block;
    padding: 30px
  }
}

/*
=================
(min-width:776px) and (max-width:1199px)
=================
*/

@media (min-width:400px) and (max-width:775px){
  .rowContenu{
    margin-top: 11.5vw;
    width: 100%;
  }/*
  .titreSite{
      text-align: center;
  }*/

  .imgThemeOne{
    margin-top: 14px;
  }
  .textThemeOneImg {
    font-size: 2vw;
    height: 15vw;
    display: inline-block;
    padding-top: 14px
  }
}
@media(max-width:399px){
  .rowContenu{
    margin-top: 22vw;
  }/*
  .titreSite{
      text-align: center;
  }*/

}

/**********
    animation
***********/
