<div class="modal-content">
	<div class="modal-header dialog-header-confirm">
		<h4 class="modal-title ng-binding">
			<span class="glyphicon glyphicon-check"></span> Confirmation
		</h4>
	</div>
	<div class="modal-body ng-binding" ng-bind-html-unsafe="msg">Ah weuy, mbaa woorna</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="yes()">Waawaw</button>
		<button type="button" class="btn btn-primary" ng-click="no()">noo dama djoume</button>
	</div>
	
</div>
