<div class="modal-content tofPoem">
	<div class="modal-header dialog-header-confirm">
		<h4 class="modal-title ng-binding">
			<span class="glyphicon glyphicon-check"></span> Choix de la photo pour le poême
		</h4>
	</div>
	<div class="modal-body ng-binding">
		<div class="row">
			<img ng-src="{{link}}" ng-class="{'img-rounded' : true,'selectedTof' : selectedTof === link}" ng-repeat="link in linkList" ng-click="checkTof(link)">
		</div>
	</div>
	<div class="modal-footer">
		<div class="showError pull-left" ng-if="showError">Aucune photo n'a été choisie, veillez annuler ou faire un choix</div>
		<button type="button" class="btn btn-success" ng-click="yes(tof)">Valider</button>
		<button type="button" class="btn btn-default" ng-click="exit()">Annuler</button>
	</div>
	
</div>