<div class="poemeView">
	<div class="modal-body">
		<img ng-src="{{poemToDisplay.tof}}" class="img-responsive">
	</div>
	<div class="modal-footer ">
		<div class="row policeText">
			<div class="dialogPoemeTitle row">
				<strong>{{poemToDisplay.title}}</strong>
			</div>
			<div class="fromDate  col-sm-offset-2  col-sm-8 layout-row">
				<section class="date">{{poemToDisplay.from}}</section>  &nbsp; :  &nbsp;
				<section class="from">{{poemToDisplay.date | date :'fullDate'}}</section>
			</div>
			<section ng-bind-html="poemToDisplay.content" class="dialogTexte col-sm-8 col-sm-offset-2">
			</section>
		</div>
		<div class="row policeText">
			<section class="adresse col-xs-10 col-sm-offset-2">
				<div class="pull-left">  <br>
				{{poemToDisplay.id_auteur.local.lastname}}&nbsp;{{poemToDisplay.id_auteur.local.firstname}}<br>
				{{poemToDisplay.from}}
				</div>
			</section>
		</div>
		<br>
		<div class="row">
			<hr class="firtHr">
		</div>

		<div class="row rowLinker">
			<div class="layout-row col-sm-8 col-sm-offset-2">
				<div class="approval" uib-tooltip="cette fonctionnalité n'est pas encore active et le sera bientôt">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					<span>J'aime</span>
				</div>
				<div ng-click="toggleComment()"  uib-tooltip="{{isLoggedIn ? '' : 'Veillez vous connecter pour acceder à ce service'}}">
					<span class="glyphicon glyphicon-comment sharing"></span>
					<span>Commenter</span>
				</div>
				<div uib-tooltip="cette fonctionnalité n'est pas encore active et le sera bientôt">
					<span class="glyphicon glyphicon-share-alt commentary"></span>
					<span >Partager</span>
				</div>
				<div  ng-click="denouncePoem()">
					<span class="glyphicon glyphicon-alert"></span>

					<span class="denouncePoem" ng-class="{'intoRed' : poemToDisplay.denounced, 'intoNormal' : !poemToDisplay.denounced}">{{poemToDisplay.denounced ? "Dénoncé" : "Je dénonce"}}
					</span>
				</div>
			</div>
		</div>
		<div class="row rowComments policeTextComment">

			<div class="rowCommentInput   col-sm-8 col-sm-offset-2" ng-if="showInputComment">
		  			<div class="form-group" >
			  			<label for="description"></label><br/>
						<textarea class="form-control" ng-model="newComment.content" required placeholder="Discutons..."></textarea>
		    		</div>
		    		<button class="btn btn-primary pull-left" ng-click="addComment()">Publier</button>
		    		<br/>
			</div>

			<div class="rowCommentsList  col-sm-8 col-sm-offset-2"
				ng-repeat="comment in commentList track by $index">
				<div>
					<span class="CommenterName">{{comment.id_author.local.lastname}} &nbsp {{comment.id_author.local.firstname}}</span>
					<div class="CommentContent"> {{comment.content}}</div>
				</div>
				<span class="commentDate">{{comment.date | date:'dd MMM yyyy'}}</span>

				<span class="denounceComment" ng-class="{'intoRed' : comment.denounced, 'intoNormal' : !comment.denounced}" ng-click="denounceComment(comment)">- {{comment.denounced ? "Dénoncé" : "Je dénonce"}}</span>

			</div>

		</div>
	</div>
</div>
